html{
  font-size: 100px;
}
.footer{
  height: .395rem;
  width: 100%;
  padding-top: .075rem;
  background-color: #48382b;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: .12rem;
}
.footer .ls{
  width: 20%;
  height: .39rem;
  text-align: center;
  float: left;
}
.footer .ls a{
  display: inline-block;
  color: #c3ad88;
}
.footer a span{
  display: block;
  width: .21rem;
  height: .20rem;
  margin: auto;
  background-image: url(../img/LOGO.png);
  background-size: 1.77000011rem 1.17500004rem;
  background-position: -.06499999rem -.54rem;
}
.footer .ls .s span{
  background-size: 1.77000011rem 1.17500004rem;
  background-position: -.42500001rem -.54rem;
}
.footer .ls .sl span{
  width: .235rem;
  background-size: 1.77000002rem 1.17500004rem;
  background-position: -.76000004rem -.54rem;
}
.footer .ls .f span{
  width: .25rem;
  background-size: 1.77000009rem 1.17500004rem;
  background-position: -1.15000004rem -.54rem;
}
.footer .ls .m span{
  width: .17499999rem;
  background-size: 1.77000011rem 1.17500004rem;
  background-position: -1.55000008rem -.54rem;
}
/* select   */
.footer .ls .select {
  color: #6ab439;
}
.footer .ls .select span{
  background-position-y:-.87000002rem;
}
@media screen and (min-width:400px) {
  html{
    font-size: 120px;
  }
}
@media screen and (min-width:500px) {
  html{
    font-size: 130px;
  }
}
@media screen and (min-width:600px) {
  html{
    font-size: 140px;
  }
}
@media screen and (min-width:700px) {
  html{
    font-size: 150px;
  }
}
@media screen and (min-width:800px) {
  html{
    font-size: 160px;
  }
}
