html{
	width: 100%;
	height: 100%;
	font-size: 100px;
}
body{
	width: 100%;
	height: 100%;
}
.wrap{
	width: 100%;;
	height: 100%;
	background: rgb(235,234,228);
}
.header{
	width: 100%;
	font-size: 0.21rem;
	background: rgb(72,56,43);	
	font-size: 0.2rem;
	color: rgb(143,127,100);
}
.header .header1{
	width: 32.4%;
	overflow: hidden;
	line-height: 0.83rem;
	margin: 0 auto;
}
.header .header1 div{
	display: inline-block;
	line-height: 0.57rem;
	width: 50%;
	margin: 0.13rem 0;
	text-align: center;	
}
.header .header1 div:nth-child(1){
	border-radius: 0.1rem 0 0 0.1rem;
	background: rgb(66,51,41);
	border-right: none;
}
.header .header1 div:nth-child(2){
	border-radius: 0 0.1rem 0.1rem 0;
	background: rgb(78,61,49);
/*	border: 2px solid black;*/
	border-left: none;
}
/*con......................................*/
.wrap .con{
	margin-top: 0.08rem;
}
.con .ul1{
	position: relative;
	background: rgb(255,255,255);
}
.con ,.con .ul1,.con .ul1 li{
	width: 100%;
}
.con .ul1 li:nth-child(1)>div{
	font-size: 0.22rem;
	color: rgb(227,227,227);	
	width: 92%;
	position: absolute;
	left: 4%;
	top: 0.18rem;
}
.con .ul1 .li1 .con1 .div2{
	margin-left: 0.1rem;
}
.con .ul1 .li1 .con1 .div2 span{
	line-height: 0.3rem;
}
.con .ul1 .li1 .con1 .div3 {
	width:0.65rem ;
	height: 0.4rem;
	text-align: center;
	line-height: 0.4rem;
	margin-top: 0.08rem;
	border-radius: 0.1rem;
	border: 2px solid white;
}
.con .ul1 .li2{
	margin: 0 auto;
	font-size: 0.23rem;
	padding: 0.16rem 0 0.2rem 0;
	border-bottom: 1px solid rgb(218,218,218);
}
.con .ul1 .li2 p{
	position: relative;
	left: 4%;
	line-height:0.32rem ;	
}
.con .ul1 .li2 p:nth-child(2){
	color: rgb(169,169,169);
}
.con .ul1 .li3{
	width: 92%;	
	position: relative;
	height: 0.85rem;
	margin: 0 auto;
}
.con .ul1 .li3 div{
	width: 0.39rem;
	height: 0.38rem;
	position: absolute;
	overflow: hidden;
	top: 0.24rem;
	text-align: center;
	display: inline-block;
}
/*.con .ul1 .li3 div img{
	
}*/
.con .ul1 .li3 div:nth-child(1){
	background: url(../img/icon.png) 0px 0px;
}

.con .ul1 .li3 div:nth-child(2){
	left:12.75% ;
	background: url(../img/icon.png) 77px 0px;
}

.con .ul1 .li3 div:nth-child(3){
	right: 0;
	background: url(../img/icon.png) 39px 0px;
}







